<html>
<head>
<link rel="stylesheet"
	href="/static/libs/angular-material/angular-material.min.css" />
<link rel="stylesheet"
	href="/static/libs/angular-material/angular-material.layouts.min.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>

<script src="/static/libs/angular/angular.js"></script>
<script src="/static/libs/angular-route/angular-route.js"></script>
<script src="/static/libs/angular-animate/angular-animate.js"></script>
<script src="/static/libs/angular-aria/angular-aria.js"></script>
<script
	src="/static/libs/angular-messages/angular-messages.min.js"></script>
<script
	src='/static/libs/angular-sanitize/angular-sanitize.min.js'></script>

<script type="text/javascript"
	src="/static/libs/angular-material/angular-material.min.js"></script>
<script src="/static/js/index.js"></script>

</head>
<body>
<div ng-controller='IndexController' ng-app='raaga'>
<md-card class="md-padding">
            <span class="md-headline">Melakarta Raagas</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">1 | kanakAn'gi                 | S R1 G1 M1 P D1 N1 S | S N1 D1 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 2 | rathnAn'gi                 | S R1 G1 M1 P D1 N2 S | S N2 D1 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 3 | gAnamUrthi                 | S R1 G1 M1 P D1 N3 S | S N3 D1 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 4 | vanaspathi                 | S R1 G1 M1 P D2 N2 S | S N2 D2 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 5 | mAnavathi                  | S R1 G1 M1 P D2 N3 S | S N3 D2 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 6 | thAnarUpi                  | S R1 G1 M1 P D3 N3 S | S N3 D3 P M1 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 7 | sEnAvathi                  | S R1 G2 M1 P D1 N1 S | S N1 D1 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 8 | HanumathOdi                | S R1 G2 M1 P D1 N2 S | S N2 D1 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline"> 9 | DhEnukA                    | S R1 G2 M1 P D1 N3 S | S N3 D1 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">10 | nAtakapriya                | S R1 G2 M1 P D2 N2 S | S N2 D2 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">11 | kOkilapriya                | S R1 G2 M1 P D2 N3 S | S N3 D2 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">12 | rUpavathi                  | S R1 G2 M1 P D3 N3 S | S N3 D3 P M1 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">13 | gAyakapriya                | S R1 G3 M1 P D1 N1 S | S N1 D1 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">14 | vakulAbharaNam             | S R1 G3 M1 P D1 N2 S | S N2 D1 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">15 | mAyAmALava gowLA           | S R1 G3 M1 P D1 N3 S | S N3 D1 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">16 | chakravAkam                | S R1 G3 M1 P D2 N2 S | S N2 D2 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">17 | sUryakAntam                | S R1 G3 M1 P D2 N3 S | S N3 D2 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">18 | HAtakAmbari                | S R1 G3 M1 P D3 N3 S | S N3 D3 P M1 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">19 | Jan'kAradhvani             | S R2 G2 M1 P D1 N1 S | S N1 D1 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">20 | naTabhairavi               | S R2 G2 M1 P D1 N2 S | S N2 D1 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">21 | kIravANi                   | S R2 G2 M1 P D1 N3 S | S N3 D1 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">22 | KaraHarapriya              | S R2 G2 M1 P D2 N2 S | S N2 D2 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">23 | gowrimanOHari              | S R2 G2 M1 P D2 N3 S | S N3 D2 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">24 | varuNapriya                | S R2 G2 M1 P D3 N3 S | S N3 D3 P M1 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">25 | mAraranjani                | S R2 G3 M1 P D1 N1 S | S N1 D1 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">26 | chArukeshi                 | S R2 G3 M1 P D1 N2 S | S N2 D1 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">27 | sarasAn'gi                 | S R2 G3 M1 P D1 N3 S | S N3 D1 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">28 | HarikAmbhOji               | S R2 G3 M1 P D2 N2 S | S N2 D2 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">29 | DhIrashan'karAbharaNam     | S R2 G3 M1 P D2 N3 S | S N3 D2 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">30 | nAgAnandhini               | S R2 G3 M1 P D3 N3 S | S N3 D3 P M1 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">31 | yAgapriya                  | S R3 G3 M1 P D1 N1 S | S N1 D1 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">32 | rAgavarDhani               | S R3 G3 M1 P D1 N2 S | S N2 D1 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">33 | gAn'geyabhushani           | S R3 G3 M1 P D1 N3 S | S N3 D1 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">34 | vAgaDhIsvari               | S R3 G3 M1 P D2 N2 S | S N2 D2 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">35 | shUlini                    | S R3 G3 M1 P D2 N3 S | S N3 D2 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">36 | chalanAta                  | S R3 G3 M1 P D3 N3 S | S N3 D3 P M1 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">37 | sAlagam                    | S R1 G1 M2 P D1 N1 S | S N1 D1 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">38 | jalArnavam                 | S R1 G1 M2 P D1 N2 S | S N2 D1 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">39 | JAlavarALi                 | S R1 G1 M2 P D1 N3 S | S N3 D1 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">40 | navanItham                 | S R1 G1 M2 P D2 N2 S | S N2 D2 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">41 | pAvani                     | S R1 G1 M2 P D2 N3 S | S N3 D2 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">42 | raGupriya                  | S R1 G1 M2 P D3 N3 S | S N3 D3 P M2 G1 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">43 | gavAmbodhi                 | S R1 G2 M2 P D1 N1 S | S N1 D1 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">44 | bhavapriya                 | S R1 G2 M2 P D1 N2 S | S N2 D1 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">45 | shubhapanthuvarALi         | S R1 G2 M2 P D1 N3 S | S N3 D1 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">46 | shadhvidha mArgiNi         | S R1 G2 M2 P D2 N2 S | S N2 D2 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">47 | suvarNAn'gi                | S R1 G2 M2 P D2 N3 S | S N3 D2 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">48 | dhivyAmaNi                 | S R1 G2 M2 P D3 N3 S | S N3 D3 P M2 G2 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">49 | dhavalAmbari               | S R1 G3 M2 P D1 N1 S | S N1 D1 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">50 | nAmanArAyaNi               | S R1 G3 M2 P D1 N2 S | S N2 D1 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">51 | kAmavardhini               | S R1 G3 M2 P D1 N3 S | S N3 D1 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">52 | rAmapriya                  | S R1 G3 M2 P D2 N2 S | S N2 D2 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">53 | gamanashrama               | S R1 G3 M2 P D2 N3 S | S N3 D2 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">54 | vishvAmbhari               | S R1 G3 M2 P D3 N3 S | S N3 D3 P M2 G3 R1 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">55 | shyAmaLAngi                | S R2 G2 M2 P D1 N1 S | S N1 D1 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">56 | shanmuKapriya              | S R2 G2 M2 P D1 N2 S | S N2 D1 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">57 | simHendra madhyamam        | S R2 G2 M2 P D1 N3 S | S N3 D1 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">58 | HemAvathi                  | S R2 G2 M2 P D2 N2 S | S N2 D2 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">59 | DharmAvathi                | S R2 G2 M2 P D2 N3 S | S N3 D2 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">60 | nIthimathi                 | S R2 G2 M2 P D3 N3 S | S N3 D3 P M2 G2 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">61 | kAnthAmaNi                 | S R2 G3 M2 P D1 N1 S | S N1 D1 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">62 | rishabhapriya              | S R2 G3 M2 P D1 N2 S | S N2 D1 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">63 | lathAngi                   | S R2 G3 M2 P D1 N3 S | S N3 D1 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">64 | vAchaspathi                | S R2 G3 M2 P D2 N2 S | S N2 D2 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">65 | mEchakalyANi               | S R2 G3 M2 P D2 N3 S | S N3 D2 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">66 | chithrAmbari               | S R2 G3 M2 P D3 N3 S | S N3 D3 P M2 G3 R2 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">67 | sucharithra                | S R3 G3 M2 P D1 N1 S | S N1 D1 P M2 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">68 | jyothisvarUpiNi            | S R3 G3 M2 P D1 N2 S | S N2 D1 P M2 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">69 | dhAtuvardhani              | S R3 G3 M2 P D1 N3 S | S N3 D1 P M2 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">70 | nAsika bhUshaNi            | S R3 G3 M2 P D2 N2 S | S N2 D2 P M2 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">71 | kosalam                    | S R3 G3 M2 P D2 N3 S | S N3 D2 P M2 G3 R3 S</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">72 | rasikapriya                | S R3 G3 M2 P D3 N3 S | S N3 D3 P M2 G3 R3 S</span>
      </md-card>


</div>
</body>
</html>
