<html>
<head>
<link rel="stylesheet"
	href="/static/libs/angular-material/angular-material.min.css" />
<link rel="stylesheet"
	href="/static/libs/angular-material/angular-material.layouts.min.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>

<script src="/static/libs/angular/angular.js"></script>
<script src="/static/libs/angular-route/angular-route.js"></script>
<script src="/static/libs/angular-animate/angular-animate.js"></script>
<script src="/static/libs/angular-aria/angular-aria.js"></script>
<script
	src="/static/libs/angular-messages/angular-messages.min.js"></script>
<script
	src='/static/libs/angular-sanitize/angular-sanitize.min.js'></script>

<script type="text/javascript"
	src="/static/libs/angular-material/angular-material.min.js"></script>
<script src="/static/js/index.js"></script>

</head>
<body>
<div ng-controller='IndexController' ng-app='raaga'>

<md-card layout="column" flex>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">Text</span>
      </md-card>
      <md-card layout="row" class="md-padding">
            <span class="md-headline">Text</span>
      </md-card>
</md-card>

<md-card layout="row">
      <md-card layout="column" flex  class="md-padding">
            <span class="md-headline">Text</span>
      </md-card>
      <md-card layout="column" flex  class="md-padding">
            <span class="md-headline">Text</span>
      </md-card>
      <md-card layout="column" flex  class="md-padding">
            <span class="md-headline">Text</span>
      </md-card>
</md-card>
</div>
</body>
</html>
